#right-content{
    font-size: 15px;
    /*margin-top: 40px;*/
}

main {
    padding: 1em;
    /*font-family: Arial, Helvetica, sans-serif;*/
    text-align: center;
    margin-top: 50px;
    display: block;
}

#navbar-brand{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    -ms-user-select: none;
    user-select: none;
}

.list-group {
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
}
.not-found-icon {
    font-size: 24px;
    color: #444444;
}
.settings-icon {
    font-size: 20px;
    color: #777777;
}
.navbar-nav > li > a{
    padding-bottom: 0;
}

/*Icons sense padding inferior, ja que fa fer la navbar mes gran*/
.navbar-nav > li > a{
    padding-bottom: 0;
}

/*Centrar el header i gestionar elements de dreta i esquerra*/
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}
.navbar-toggle {
    z-index:3;
}

.pageIcon{
    width: 12px;
    height: 12px;
}